@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


body {
    background-color: hsl(0, 0, 95%);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

/* Main Content*/
article {
    display: flex;
    width: 80%;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    border-radius: 7px;
    overflow: hidden;
}

article section {
    padding: 3em;
}

article section h3{
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    font-size: 2.2em;
}

article section p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 6em;
}

article section a {
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    padding: .7em 1.5em;
    border-radius: 25px;
}

article section a:hover {
    background-color: rgba(0,0,0,0);
    border: 2px solid hsl(0,0%,95%);
    color: hsl(0,0%,95%);
    box-sizing: border-box;
}


.sedans {
    background-color: hsl(31, 77%, 52%);
}

.sedans a {
    color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.suvs a {
    color: hsl(184,100%,22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
}

.luxury a{
    color : hsl(179, 100%, 13%);
}